.book-container {
    background-color: rgb(239, 231, 231);
    padding: 15px;
    display: flex;
    border: 1px solid black;
    gap: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 6px rgb(35, 35, 35);
}

.content {
    padding: 0px;
    
    border-radius: 8px;
    display: flex;
    align-items: center;
}

button {
    margin: 10px;
    background-color: rgb(239, 231, 231);
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
}

body {
    padding: 18px;
    background-color: rgb(48, 47, 47);
}

form {
    background-color: rgb(122, 118, 118);
    padding :10px;
    border-radius: 6px;
}